* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf

*.frag text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yml text eol=lf

*.toe binary
*.tox binary
*.png binary
